{% extends 'base.html' %}
{% load static %}


{% block body %}

<div class="row justify-content-center">
    <div class="col-4">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Ad</label>
                <input name="name" type="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail2" class="form-label">Soyad</label>
                <input name="surname" type="text" class="form-control" id="exampleInputEmail2"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail3" class="form-label">Email</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail3"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail4" class="form-label">Kullanıcı Adı</label>
                <input name="username" type="text" class="form-control" id="exampleInputEmail4"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword5" class="form-label">Şifre</label>
                <input name="password1" type="password" class="form-control" id="exampleInputPassword5">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword6" class="form-label">Tekrar Şifre</label>
                <input name="password2" type="password" class="form-control" id="exampleInputPassword6">
            </div>
            <button type="submit" class="btn btn-primary">Kaydol</button>
        </form>
    </div>
</div>

{% endblock body %}