{% extends 'base.html' %}
{% load static %}

{% block body %}
    <main>
        <div class="container-fluid row p-0 m-0">
    
            <div class="row col-8 mt-5">
                {% for card in cards %}
                <div class="col-4 mt-5">
                    <a class="text-decoration-none text-dark" href="/detay/{{ card.id }}/">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ card.image.url }}" class="card-img-top" style="height: 300px; object-fit: contain;"
                                alt="...">
    
                            <div class="card-body">
                                <h5 class="card-title">{{ card.title }}</h5>
                                <p class="card-text">{{ card.text }}</p>
                                <div class="text-muted">{{ card.date_now }}</div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="row col-4 mt-5">
                <div class="col-12 mt-5">
                    <h4 class="mb-4">Kategoriler</h4>
                    <ul class="list-group">
                        {% for kategori in kategoriler %}
                        <a class="text-decoration-none" href="/allcard/{{ kategori.id }}/">
                            <li class="list-group-item">{{ kategori.name }}</li>
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock body %}
    
    

