{% extends 'base.html' %}
{% load static %}

{% block body %}
    <main>
        <div class="row mt-5 ms-4">
            <div class="col-5 d-flex justify-content-center align-content-center">
                <div class="detailimg">
                    <img src="{{ card.image.url }}" alt="">
                </div>
            </div>
    
            <div class="col-5 p-5 d-flex justify-content-between flex-column" style="box-shadow: 2px 2px 8px black;">
                <div>
                    <span class="fs-2 me-5">{{ card.title }}</span>
                    <a href="#">satıcı: {{ card.user }}</a>
                    <hr>
                    <div class="fs-3">{{ card.priece }} TL</div>
                    <hr><br>
                    <div class="">{{ card.text }}</div>
                </div>
                
                <div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <label for="adet">Adet:</label>
                        <input type="number" name="adet" id="adet" min="1" max="10"><br><br>
                        <button class="btn btn-primary" name="button" value="hemenbtn" type="submit">Hemen Al</button>
                        <button class="btn btn-primary" name="button" value="sepetbtn" type="submit">Sepete Ekle</button>
                    </form>
                </div>


            </div>
        </div>
        <hr>
        <div class="row mt-5 ms-4">
            <div class="col-7">
                <h3>Yorumlar</h3>
    
                {% for i in comments %}
                <div class="commentsall">
                    <span class="me-5">Ad Soyad: {{ i.name }}</span>
                    <span>Email: {{ i.email }}</span>
                    <hr>
                    <p>{{ i.comment }}</p>
    
                </div>
                {% endfor %}
    
            </div>
            <div class="col-7">
                <h3>Yorum Yap</h3>
                <ul>
                    <li>formun methodu POST olucak</li>
                    <li>her inptun name attributuna ihtiyacı var</li>
                    <li>butonun type=submit olmalı</li>
                    <li>csrf token</li>
                </ul>
                <form method="POST" class="comment">
                    {% csrf_token %}
                    <div class="form-outline mb-4">
                        <input type="text" name="name" class="form-control" placeholder="Ad Soyad" />
                    </div>
    
                    <div class="form-outline mb-4">
                        <input type="email" name="email" class="form-control" placeholder="Email" />
                    </div>
    
                    <div class="form-outline mb-4">
                        <textarea class="form-control" name="comment" rows="4" placeholder="Yorum"></textarea>
                    </div>
    
                    <button name="button" value="commentbtn" type="submit" class="btn btn-primary btn-block mb-4">Paylaş</button>
                </form>
            </div>
        </div>
    
    
    </main>
{% endblock body %}
    

    

