
{% extends 'base.html' %} <!-- block yapıları nereye gidicek onu belirler -->
{% load static %} <!-- static dosyalarını yükler -->

{% block body %} <!-- block içerdeki yapıyı base içine gönderme yapar -->
    <main>
        <div class="container-fluid row p-0 m-0">
            <div class="row col-12  justify-content-center p-0 m-0">
                <div class="col-12 p-0">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static 'img/robot.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'img/dunya.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'img/asd.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row col-8 mt-5">
                {% for card in cards %}
                <div class="col-4 mt-5">
                    <a class="text-decoration-none text-dark" href="/detay/{{ card.id }}/">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ card.image.url }}" class="card-img-top" style="height: 300px; object-fit: contain;"
                                alt="...">
    
                            <div class="card-body">
                                <h5 class="card-title">{{ card.title }}</h5>
                                <p class="card-text">{{ card.text }}</p>
                                <div class="text-muted">{{ card.date_now }}</div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="row col-4 mt-5">
                <div class="col-12 mt-5">
                    <h4 class="mb-4">Kategoriler</h4>
                    <ul class="list-group">
                        {% for kategori in kategoriler %}
                        <a class="text-decoration-none" href="/allcard/{{ kategori.id }}/">
                            <li class="list-group-item">{{ kategori.name }}</li>
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock body %}
       

    
    
